<div class="container-box">
  <%= form_tag html: { style: "display:inline;" } do %>
      <p class="error"><%= flash[:error] %></p>
      <div class="form-group">
        <%= text_field_tag :username, "", class: "form-control user-input", placeholder: "Username "%>
      </div>
      <div class="form-group">
        <%= password_field_tag :password, "", class: "form-control user-input", placeholder: "Password "%>
      </div>

      <div class="form-group">
        <%= submit_tag "LOGIN", class: "btn user-btn" %>
      </div>
  <% end %>
  <p>Dont't have an accccount? <%= link_to "Sign Up", new_user_path %> </p>
</div>
