<% if @url.chopped %>
  $(".chopped").css("display", "block");
  $("#chopped").text("<%= request.base_url %>/<%= @url.chopped %>");
  $(".extlink").attr( "href" , "<%= @url.target %>" );
  $("#target").text("<%= @url.target %>");

<% else %>
  $(".chopped").css("display", "block");
  $("#target").text("An error occured");
<% end %>
