<section class="main chop-section">
  <%= render partial: "partials/header" %>
  <div class="container box">
   <%= form_for @url, remote: true, html: { style: "display:inline;" } do |f| %>

   <h2 class="error"></h2>

    <div class="input-group">
      <%= f.text_field :target, class: "form-control chop", placeholder: "Paste Url Here .... ", required: "required" %>
      <span class="input-group-btn">
        <%= f.submit "CHOP", class: "btn chop-button" %>
      </span>
      <% end %>
    </div>
    <div class="chopped" id="chopped-div">
      <div class="row">

      <a href="" class="extlink" target="blank"><span id="chopped"></span></a>
       <button class='my_clip_button btn' data-clipboard-target='chopped' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click here to copy link.'>
        <i class="fa fa-clipboard" aria-hidden="true"> copy</i>
        </button>
        <span id="copied" display="none">Copied!</span>
      </div>
      <%= monitor_alert %>
    </div>
  </div>
</section>
<%= render partial: "partials/footer" %>
