<div class="my-footer">
  <span class="pull-left">Copyright © 2016 AceGrid Media  </span>
   <span class="pull-right"><i class="fa fa-github g-logo" aria-hidden="true"></i> </span>
   <span class="pull-right"><i class="fa fa-globe g-logo" aria-hidden="true"></i> </span>
    <span class="pull-right"><i class="fa fa-twitter g-logo" aria-hidden="true"></i> </span>
</div>
