<div class="container-box">
  <%= form_for @user, html: { style: "display:inline;" } do |f| %>
      <h2 class="error"></h2>
      <div class="form-group">
        <%= f.text_field :username, class: "form-control user-input", placeholder: "Username "%>
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: "form-control user-input", placeholder: "Password "%>
      </div>

      <div class="form-group">
        <%= f.submit "SUBMIT", class: "btn user-btn" %>
      </div>
  <% end %>
    <p>Already have an account? <%= link_to " Sign In", login_path %> </p>
</div>
