@import "application";

a {
  text-decoration: none;
}

a:hover {
   text-decoration: none;
}

.chop {
  border-radius: 4px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  height: 60px !important;
  position: relative;
  background-color: #fff;
  padding: 2em;
  margin-bottom: 2.5em !important;
}

.box {
  position: relative;
  top: 390px;
  width: 50% !important;
}

.body-main {
  background-color: $main-grey;
}

.chopped {
  background-color: #fff;
    border-radius: 4px !important;
    display: none;
    border-radius: 2px;
    height: 140px;
    padding: 1em;
    font-size: 2em;
    text-align: center;
}

.cont {
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 50% !important;
}

#target {
  color: #a3aaae;
  font-size: 16px;
  line-height: 19px;
}

#chopped {
  background-color: #FCF7E7;
  color: #000;
  line-height: 20px;
  margin-left: 0.8em;
  padding-right: 0.6em !important;
  padding-left: 0.6em !important;
}

.chop-section {
    background: url("http://i.imgur.com/ydXDbSw.jpg") no-repeat;
    background-size: cover;
    display: block;
    height: 48em;
    margin-bottom: 15em;
    width: 100%;
}

.chop-button {
  color: #fff !important;
  height: 60px;
  letter-spacing: 2px;
  margin-top: -34px;
  width: 100px;
  font-size: 20px;
  background-color: #ee6123;
  border-color: #ee6123;
}

.navigation {
  background: transparent !important;
  border-color: transparent !important;
  font-family: brandon-grotesque,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;

  a {
    color: #fff !important;
  }
}

.cont-header {
  position: relative;
  top: 3em;
  width: 70% !important;
}

.my-login {
  background: transparent !important;
  border-color: white !important;
  border-radius: 4px !important;
  font-size: 13px !important;
  padding: 1em 2em 1em 2em !important;
}

.my-login, .my-signup:hover {
    color: #fff !important;
}

#copied {
  display: none;
  font-size: 13px !important;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.my-signup {
  background-color: #ed6f04 !important;
  border-color: white !important;
  border-radius: 4px !important;
  font-size: 13px !important;
  padding: 1em 2em 1em 2em !important;
}

.my-footer {
  border-top: 0.1em solid #ddd;
  padding: 2em 4em 0em 4em;
  width: 100%;
  margin: 0 auto;
  margin-bottom: -60px;
  text-align: center;
  color: #707070;
  font-size: 0.92em;
}

.g-logo {
  padding-left: 0.5em;
  font-size: 1.3em !important;
}

.my_clip_button {
  background: transparent !important;
  border-radius: 3px !important;
  font-size: 13px !important;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding: 0.2em !important;
  border-color: #ed6f04  !important;
  color: #ed6f04  !important;
  font-size: 0.5em !important;
}

.monitor {
  height: 5px;
  font-size: 0.4em;
  line-height: 6px;
  margin: 0 auto;
  margin-top: 1.5em;
  width: 50%;
}
